<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.smartlabs.mapper.SmartDeviceTypeMapper">
  <resultMap id="BaseResultMap" type="com.briup.smartlabs.bean.SmartDeviceType">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from smart_device_type
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.briup.smartlabs.bean.SmartDeviceType">
    insert into smart_device_type (id, type_name)
    values (#{id,jdbcType=CHAR}, #{typeName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.briup.smartlabs.bean.SmartDeviceType">
    update smart_device_type
    set type_name = #{typeName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, type_name
    from smart_device_type
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, type_name
    from smart_device_type
  </select>
</mapper>