<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.smartlabs.mapper.SysKaptchaMapper">
  <resultMap id="BaseResultMap" type="com.briup.smartlabs.bean.SysKaptcha">
    <id column="form_id" jdbcType="VARCHAR" property="formId" />
    <result column="kaptcha" jdbcType="CHAR" property="kaptcha" />
    <result column="expire" jdbcType="TIMESTAMP" property="expire" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_kaptcha
    where form_id = #{formId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.briup.smartlabs.bean.SysKaptcha">
    insert into sys_kaptcha (form_id, kaptcha, expire
      )
    values (#{formId,jdbcType=VARCHAR}, #{kaptcha,jdbcType=CHAR}, #{expire,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.briup.smartlabs.bean.SysKaptcha">
    update sys_kaptcha
    set kaptcha = #{kaptcha,jdbcType=CHAR},
      expire = #{expire,jdbcType=TIMESTAMP}
    where form_id = #{formId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select form_id, kaptcha, expire
    from sys_kaptcha
    where form_id = #{formId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select form_id, kaptcha, expire
    from sys_kaptcha
  </select>
</mapper>