<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.smartlabs.mapper.ex.SysRoleExMapper">
	<select id="findByCondition" resultMap="com.briup.smartlabs.mapper.SysRoleMapper.BaseResultMap">
	select role_id, role_name, remark, create_user_id, create_time
    from sys_role
    <where>
    	<if test="key!=null and key!=''">
    		role_name like #{key}
    	 or remark like #{key}
    	</if>
    </where>
	</select>
</mapper>